apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    deployment.kubernetes.io/revision: "1"
    kubectl.kubernetes.io/last-applied-configuration: |
      {"apiVersion":"apps/v1","kind":"Deployment","metadata":{"annotations":{},"labels":{"app":"demo","version":"v2"},"name":"demo-v2","namespace":"canary"},"spec":{"replicas":2,"selector":{"matchLabels":{"app":"demo","version":"v2"}},"template":{"metadata":{"labels":{"app":"demo","version":"v2"}},"spec":{"containers":[{"args":["-text=Hello from v2 (Version 2.0)","-listen=:5678"],"image":"hashicorp/http-echo:0.2.3","name":"http-echo","ports":[{"containerPort":5678}]}]}}}}
  creationTimestamp: "2025-10-16T23:23:15Z"
  generation: 1
  labels:
    app: demo
    version: v2
  name: demo-v2
  namespace: canary
  resourceVersion: "1563"
  uid: 78015dbd-1360-4e13-914f-2c4884d866f4
spec:
  progressDeadlineSeconds: 600
  replicas: 2
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: demo
      version: v2
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: demo
        version: v2
    spec:
      containers:
      - args:
        - -text=Hello from v2 (Version 2.0)
        - -listen=:5678
        image: hashicorp/http-echo:0.2.3
        imagePullPolicy: IfNotPresent
        name: http-echo
        ports:
        - containerPort: 5678
          protocol: TCP
        resources: {}
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
status:
  availableReplicas: 2
  conditions:
  - lastTransitionTime: "2025-10-16T23:23:16Z"
    lastUpdateTime: "2025-10-16T23:23:16Z"
    message: Deployment has minimum availability.
    reason: MinimumReplicasAvailable
    status: "True"
    type: Available
  - lastTransitionTime: "2025-10-16T23:23:15Z"
    lastUpdateTime: "2025-10-16T23:23:16Z"
    message: ReplicaSet "demo-v2-6bc66c9cc9" has successfully progressed.
    reason: NewReplicaSetAvailable
    status: "True"
    type: Progressing
  observedGeneration: 1
  readyReplicas: 2
  replicas: 2
  updatedReplicas: 2
