apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    deployment.kubernetes.io/revision: "1"
    kubectl.kubernetes.io/last-applied-configuration: |
      {"apiVersion":"apps/v1","kind":"Deployment","metadata":{"annotations":{},"labels":{"app":"demo","version":"v1"},"name":"demo-v1","namespace":"canary"},"spec":{"replicas":2,"selector":{"matchLabels":{"app":"demo","version":"v1"}},"template":{"metadata":{"labels":{"app":"demo","version":"v1"}},"spec":{"containers":[{"args":["-text=Hello from v1 (Version 1.0)","-listen=:5678"],"image":"hashicorp/http-echo:0.2.3","name":"http-echo","ports":[{"containerPort":5678}]}]}}}}
  creationTimestamp: "2025-10-16T23:23:03Z"
  generation: 1
  labels:
    app: demo
    version: v1
  name: demo-v1
  namespace: canary
  resourceVersion: "1529"
  uid: eec2644a-839d-41e1-8d0a-0c8c3de3169b
spec:
  progressDeadlineSeconds: 600
  replicas: 2
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: demo
      version: v1
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: demo
        version: v1
    spec:
      containers:
      - args:
        - -text=Hello from v1 (Version 1.0)
        - -listen=:5678
        image: hashicorp/http-echo:0.2.3
        imagePullPolicy: IfNotPresent
        name: http-echo
        ports:
        - containerPort: 5678
          protocol: TCP
        resources: {}
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
status:
  availableReplicas: 2
  conditions:
  - lastTransitionTime: "2025-10-16T23:23:11Z"
    lastUpdateTime: "2025-10-16T23:23:11Z"
    message: Deployment has minimum availability.
    reason: MinimumReplicasAvailable
    status: "True"
    type: Available
  - lastTransitionTime: "2025-10-16T23:23:03Z"
    lastUpdateTime: "2025-10-16T23:23:11Z"
    message: ReplicaSet "demo-v1-78555bd94" has successfully progressed.
    reason: NewReplicaSetAvailable
    status: "True"
    type: Progressing
  observedGeneration: 1
  readyReplicas: 2
  replicas: 2
  updatedReplicas: 2
